<h1>Edit Post</h1>
{{#each gallery}}
<form action="/gallery/{{id}}?_method=PUT" method="post">
    <label>Author</label>
    <input name="author" value="{{author}}" type="text">
    <img src="{{link}}">
    <input name="link" value="{{link}}" type="text">
    <label>Description</label>
    <input name="description" value="{{description}}" type="text">
    <br>
    <br>
    <button type="submit">Update Item</button>
    <br>
  </form>
  <form action="/gallery/{{id}}?_method=DELETE" method="post">
    <button type="submit">Delete Item</button>
  </form>
  <form action="/gallery/{{id}}" method="get">
    <button type="submit">Cancel</button>
  </form>
{{/each}}