<h1 id="edit">Edit Post</h1>
{{#each gallery}}
<form action="/gallery/{{id}}?_method=PUT" method="post">
    <label class="label-a">Author</label>
    <input class="input-a" name="author" value="{{author}}" type="text">
    <img class="pic-edit" src="{{link}}">
    <label class="label-l">Link to Photo</label>
    <input class="input-l" name="link" value="{{link}}" type="text">
    <label class="label-d">Description</label>
    <input class="input-d" name="description" value="{{description}}" type="text">
    <br>
    <br>
    <button class="updt" type="submit">Update</button>
    <br>
  </form>
  <form action="/gallery/{{id}}" method="get">
    <button class="cncl" type="submit">Cancel</button>
  </form>
{{/each}}


 <form action="/gallery/{{id}}?_method=DELETE" method="post">
    <button class="dlt" type="submit">Delete Item</button>
  </form>
